<div class="container"
    fxLayout="row"
    fxLayout.sm="column"
    fxLayout.xs="column"
    fxLayoutAlign.gt-md="space-around center"
    fxLayoutGap="10px" 
    fxLayoutGap.xs="0">

    
    <div fxFlex="40" *ngIf="dish" [@visibility]="visibility" [@expand]>
    <div fxFlex >
      <mat-card >
        <mat-card-header>
          <mat-card-title>
            <h3>{{dish.name | uppercase}}</h3>
          </mat-card-title>
        </mat-card-header>
        <img mat-card-image src="{{ baseURL + dish.image }}" alt={{dish.name}}>
        <mat-card-content>
          <p>{{dish.description}}
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button [routerLink]="['/dishdetail', prev]"><span class="fa fa-chevron-left fa-lg"></span></button>
          <button mat-button (click)="goBack()">BACK</button>
          <button mat-button>LIKE</button>
          <button mat-button>SHARE</button>

          <span class="flex-spacer"></span>
          <button mat-button [routerLink]="['/dishdetail', next]"><span class="fa fa-chevron-right fa-lg"></span></button>

          
        </mat-card-actions>

       
      </mat-card>
    </div>
  </div>

  <div fxFlex="40" *ngIf="dish" [@visibility]="visibility">
  
    <mat-list fxFlex >
      <div mat-header> <h1>Comments</h1></div>
      <mat-list-item *ngFor="let commentitem of dish.comments">
        <p matLine> {{commentitem.comment}} </p>
        <p matLine>
          <span> {{commentitem.rating>1 ? commentitem.rating + " Stars" : commentitem.rating + " Star"}} </span>
        </p>
        <p matLine> -- {{commentitem.author}} {{commentitem.date | date}}</p>
      </mat-list-item>

      <mat-list-item *ngIf='feedbackForm.valid'>
        <p matLine> {{feedbackForm.value.author}} </p>
        <p matLine>
          <span> {{feedbackForm.value.rating>1 ? feedbackForm.value.rating + " Stars" : feedbackForm.value.rating + " Star"}} </span>
        </p>
        <p matLine> {{feedbackForm.value.comment}}</p>
      </mat-list-item>


      <form novalidate [formGroup]="feedbackForm" #fform="ngForm" (ngSubmit)="onSubmit()">
        
          <mat-form-field class="full-width">
            <input matInput formControlName="author" placeholder="Name" type="text" required>
            <mat-error *ngIf="formErrors.author">{{formErrors.author}}</mat-error>
          </mat-form-field>

          <mat-slider class="cdk-focused"
  thumbLabel
  formControlName="rating"
  [displayWith]="formatLabel"
  tickInterval="1"
  min="1"
  value = "5"
  max="5"></mat-slider>

  <mat-form-field class="full-width">
    <textarea matInput formControlName="comment" placeholder="Your Comment" rows=12></textarea>
    <mat-error *ngIf="formErrors.comment">{{formErrors.comment}}</mat-error>
  </mat-form-field>
        
      
        <button
        [disabled]="feedbackForm.invalid" type="submit" mat-button class="background-primary text-floral-white">Submit</button>
      </form>
    </mat-list>
    <div [hidden]="dish || errMess">
      <mat-spinner></mat-spinner><h4>Loading . . . Please Wait</h4>
    </div>

    <div fxFlex *ngIf="errMess">
      <h2>Error</h2>
      <h4>{{errMess}}</h4>
    </div>

  </div>
</div>